body {
    background-color: #808080;
}
.btn {
    display: block;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    width: 100px;
    height: 30px;
}
#square {
    border: 5px solid white;
    text-align: center;
    background-color:darkcyan ;
    width: 500px;
    height: 900px;
    margin: auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tb {
    color: black;
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}
#Image1{
    width:27%;
    height:16%;
    border-radius:50%;
}
.travel-box 
{
    position: absolute;
    left: 13.5%;
    transform: translate(10%,115%);
}
