/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
* {
    box-sizing: border-box;
}

.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.btnSearch {
    float: left;
    width: 5%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    .btnSearch:hover {
        background: #0b7dda;
    }

.example::after {
    content: "";
    clear: both;
    display: table;
}
.result{
    margin-top: 50px;
    width:100%;
    height:700px;
    text-decoration:none;

}
.myMap {
    width: 100%;
    height: 600px;
    padding: 30px 0;
}
/*.form-input {
    width: 350px;
    padding: 20px;
    box-shadow: black;
    position: absolute;
    top: 68%;
    left: 150%;
    transform: translate(-50%,-50%);
}

.upload {
    display: block;
    color: #808080;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    text-transform: Uppercase;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 77%;
    left: 62%;
    transform: translate(-50%,-50%);
}

.form-input input {
    display: none;
}


.form-input img {
    width: 100%;
    display: none;
    margin-bottom: 30px;
}

#FileUpload1 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}*/